// Palette Color Cube
$shark-black: #252a2d;
$chestnut-rose:#d5625f;
$white-f:#fefefe;
$dove-grey: #6b6b6b;
$edward-grey: #aeafae;
$hockey-pockey:#d8bc29;
$bs-dark:#121315;
$bs-rose:#EE6059;

// Palette Median cut
$shark: #212425;
$old-rose:#c88a80;


//Material design
$chestnut-rose-mat: #d3615e; 