body{
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;   
    border-top: 25px solid $shark-black;
    // shark-black

    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0%);
  }